.form {
  background-color: transparent;
  padding: 0.8rem;
  width: 100%;
  max-width: 40rem;
}
.quotasSum {
  height: 5.5rem;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  color: rgba(255, 255, 255, 0.5);
  &.error {
    color: red;
  }
  .errorMessage {
    width: 100%;
    text-align: right;
    font-size: 0.68em;
    color: rgba(255, 255, 255, 0.3);
  }
}
.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  margin-top: 0.5rem;
  padding-left: 1.3rem;
}
.accountTitle {
  color: rgba(255, 255, 255, 0.5);
}
.cancelButton,
.submitButton {
  margin-top: 0.5rem;
}
