.input {
  display: block;
  color: rgba(255,255,255,.8);
  background-color: #000;
  height: 5.5rem;
  border-radius: .4rem;
  padding: 0 1.3rem;

  &:focus {
    outline: none;
  }
  &::placeholder {
    color: rgba(255,255,255,.3);
  }
}
