.form {
  display: block;
  position: relative;
  width: 100%;
}
.step {
  display: flex;
  justify-content: space-between;
  gap: .8rem;
  width: 100%;
}

.titleInput {
  width: 100%;
}
.amountInput {
  margin-top: .8rem;
}
.submitButton {
  margin-top: .8rem;
}
.cancelButton {
  margin-top: .8rem;
  background: rgba(255,255,255,.025);
}