.wrapper {
  padding: 3.4rem 2.1rem 8.9rem;
}
.backLink {
  display: flex;
  align-items: center;
  position: absolute;
  top: 2.1rem;
  left: 2.1rem;
  line-height: 1;
  text-transform: uppercase;
  color: #999;
}
.header { 
  margin-top: 3.4rem;
  text-align: center;
  margin-top: 0;
  line-height: 1;
  font-size: 3.4rem;
  text-transform: uppercase;
  color: rgba(255,255,255,.1);
}
.title {
  font-size: 5.5rem;
  font-weight: 700;
}
.summary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem;
  max-width: 40rem;
  margin: auto;
  margin-top: 3.4rem;
  position: relative;
  font-size: 14.4rem;
  color: rgba(0,0,0,.2);
  font-weight: 900;

  .quota {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    pointer-events: none;
  }

  .item {
    background: #333;
    padding: .8rem ;
    color: #999;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: .8rem;
    font-weight: 400;

    data {
      display: block;
      font-size: 1.6rem;
      letter-spacing: 0;
      width: 100%;
      color: rgb(242, 242, 242);
      text-align: center;
    }
  }
  .accountAvailable {
    grid-column-start: 1;
    grid-column-end: 3;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .leftOvers, .accountBudget {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .leftOvers {
    border-top-right-radius: 0;
  }
  .accountBudget {
    border-top-left-radius: 0;
  }
}

.expenses {
  margin-top: 3.4rem;

  .expense {
    margin: auto;
  }

  .expense + .expense {
    margin-top: 1.3rem;
  }
}
