.floatingButton {
  position: fixed;
  right: .5rem;
  bottom: 8.9rem;
  height: 5.5rem;
  width: 5.5rem;
  padding: 0;
  border-radius: 50%;
  z-index: 10;
  background: #d17b0c;
  border: .2rem solid #d17b0c;
  display: flex;
  justify-content: center;
  align-items: center;

  .icon {
    font-size: 3.4rem;
    color: #fff;
    transition: color .3s;
  }

  &:hover {
    background-color: #d17b0c;
  }

  &:hover .icon {
    color: white;
  }

  @media (min-width: 768px) {
    right: 2.1rem;
  }
}