.card {
  display: flex;
  align-items: center;
  font-size: 2.1rem;
  max-width: 61rem;
  background: rgba(255,255,255,.02);
  padding: .8rem 2.1rem;
  color: rgba(255,255,255,.8);
  font-weight: 300;
}
.cardButton {
  width: 3.4rem;
  height: 3.4rem;
  margin-left: auto;
  background: rgba(255,255,255,.05);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardButton + .cardButton {
  margin-left: .8rem;
}
.title {
  font-size: 1.3rem;
  color: #666;
  flex: 0 0 10ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.amount {
  text-align: left;
  flex: 1 1 10ch;
}