$color: rgba(255,255,255,.1);
$textColor: rgba(255,255,255,.7);

.button {
  display: block;
  border-radius: .2rem;
  background: $color;
  color: $textColor;
  border-radius: .4rem;
  padding: 0 .8rem;
  height: 5.5rem;
  width: 100%;
  margin: 0;
  letter-spacing: .1rem;

  &:focus {
    outline: none;
  }
}
