$bgColor: #222;
$bgColor_hover: #333;
$textColor: #eee;

.button {
  display: block;
  border-radius: 0.2rem;
  background-color: $bgColor;
  color: $textColor;
  border-radius: 0.4rem;
  padding: 0 0.8rem;
  height: 5.5rem;
  width: 100%;
  margin: 0;
  transition: background-color 0.3s;
  cursor: pointer;

  &:hover {
    background-color: $bgColor_hover;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: auto;
  }
}
