.form {
  background-color: transparent;
  padding: 0.8rem;
  width: 100%;
  max-width: 40rem;
}
.inputTitle {
  width: 100%;
  margin-bottom: 0.8rem;
}
.formTitle {
  color: #999;
  margin: 0 auto 2.1rem;
  text-align: center;
  display: block;
  font-size: 1.3rem;
  line-height: 1.2;
}
.accountTitle {
  font-size: 2.1rem;
  color: white;
}
.accountSelectorText {
  color: #999;
  margin-top: 2.1rem;
  text-align: center;
}
.accountsWrapper {
  margin-top: 0.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
.radioLabel {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid rgba(255, 255, 255, 0.1);
  line-height: 1;
  text-align: center;
  font-size: 1.3rem;
  cursor: pointer;

  &.checked,
  &.checked:hover {
    background-color: #d17b0c;
    cursor: default;
  }
  &:hover {
    background: rgba(255, 255, 255, 0.05);
  }
}
.inputRadio {
  opacity: 0;
  position: absolute;
}

.submitButton {
  margin-top: 2.1rem;
}
.cancelButton {
  margin-top: 0.8rem;
  background: #0a0a0a;
}
