.section {
  padding: 3.4rem 2.1rem;
  max-width: 76.8rem;
  margin: auto;
}
.listTitle {
  font-size: 3.4rem;
  color: rgba(255,255,255,.1);
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
}
.button {
  margin: 1.3rem auto 0;
  max-width: 23.3rem;
}
.earning {
  margin: .5rem auto 0;
}
