.section {
  padding: 3.4rem 2.1rem;
  max-width: 76.8rem;
  margin: auto;
}
.listTitle {
  font-size: 3.4rem;
  color: rgba(255,255,255,.1);
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: .3rem;
  text-align: center;
}
.form {
  margin-top: 1.3rem;
}
.earning {
  margin-top: .5rem;
}