.header {
  text-align: center;
  padding: 2.1rem 3.4rem;
}
.totalAvailable {
  font-size: 5.5rem;
  font-weight: 300;
  display: block;
  line-height: 1;
}
.totalEarned {
  font-size: 1.3rem;
  display: block;
}

.negative {
  color: #EB4800;
}