.form {
  display: block;
  position: relative;
  width: 100%;
  max-width: 40rem;
}

.title {
  font-size: 2.1rem;
  margin-bottom: 2.1rem;
  text-align: center;
}

.titleInput {
  width: 100%;
}
.amountInput {
  margin-top: .8rem;
}
.submitButton {
  margin-top: .8rem;
}
.cancelButton {
  margin-top: .8rem;
  background: rgba(255,255,255,.025);
}